
.bg-image{

    background-image: url('/assets/img/logobb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /** How to insert img from: 
    https://youtu.be/2C8HbcPrt_o
    **/

}

h1,h2{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #1f6032;
   text-align: center;

   /** Font from:
   https://www.cssfontstack.com/Goudy-Old-Style
   **/
}