<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>Quote Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="quote">
		<ion-card-content>
			Author: {{ quote.author }}
		</ion-card-content>

        <ion-card-content> Quote: 
        <!-- I have used blockquote to change the style of the phrase-->
			<i><blockquote> {{ quote.quote }} </blockquote></i>
		</ion-card-content>

        <ion-card-content>
			Serie: {{ quote.series }}
		</ion-card-content>
	</ion-card>
</ion-content>