<!-- We can settle all primary code in html, but these buttons will not work-->
<!-- We need to go to characters.page.ts to implement the logic behind this code-->
<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Characters</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of chars" (click)="openDetails(character)">
			<!-- ngFor responsible for create multiple elements same type in array -->
			<!-- REMOVED -- async - we removed this because we are not using observe anymore-->
			<!-- ? - if varibable null dont crash -->
			<ion-avatar slot="start">
				<img src="{{ character.img }}">
            </ion-avatar>
				<!-- The tag avatar will display the image in a rounded icon-->
				<ion-label>
					<p> {{ character.name }} </p>
				</ion-label>

		</ion-item>
	</ion-list>

	<ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more characters">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>