<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			<p> Character name: {{ character.name }} </p>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<p> Character nickname: {{ character.nickname }} </p>
		</ion-card-content>
	</ion-card>

    <ion-card *ngIf="character">
		<ion-card-content>
			<p> Character birthdate: {{ character.birthdate }} </p>
		</ion-card-content>
	</ion-card>

</ion-content>