<ion-tabs>
	<!-- Now all the previous code has been erased and new html code introduced to root our tab -->
	<ion-tab-bar slot="bottom">
		<!-- This slot bottom will generate bar in the bottom part-with 4 tabs -->

		<ion-tab-button tab="characters">
			<ion-icon name="people-circle-outline"></ion-icon>
			<!-- This icons I retrieved from the following website-->
			<!-- https://ionicons.com/ -->
			<ion-label>Characters</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="episodes">
			<ion-icon name="file-tray-full-outline"></ion-icon>
			<ion-label>Episodes</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="quotes">
			<ion-icon name="receipt-outline"></ion-icon>
			<ion-label>Quotes</ion-label>
		</ion-tab-button>
        
		<ion-tab-button tab="deaths">
			<ion-icon name="skull-outline"></ion-icon>
			<ion-label>Deaths</ion-label>
		</ion-tab-button>



	</ion-tab-bar>

</ion-tabs>