
h1,h2{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #1f6032;
   text-align: center;

   /** Font from:
   https://www.cssfontstack.com/Goudy-Old-Style
   **/
}